.footer{
    height: 60px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    background-color:white;
  
}

.icons{
    background-color:white;
}

img{
    height: 40px;
    width: 40px;
    margin: 1.28rem;
}


