.footer{
    height: 60px;
    width:100%;
    padding-left:8px;
    padding-right:8px;
    background-color:white;
    display:flex;
    justify-content: center;
}

.div-footer{
    margin-top: 70px;
}

.footer-brand{
    margin:0;
    padding:0;
    display: flex;
    overflow-x: auto;
}

.allergen-icon{
    height: 2.8rem;
    width: 2.8rem;
    margin: 1.2rem;
    margin-top: 1.2rem;
}

.allergen-icon:hover {
    transform: scale(1.30);
}

.allergen-selected{
    background-color: blue;
    transform: scale(1.30);

}

