.footer{
    height: 60px;
    width:100%;
    padding-left:8px;
    padding-right:8px;
    background-color:white;
    display:flex;
    justify-content: center;
}

.div-footer{
    margin-top: 70px;
}

.footer-brand{
    margin:0;
    padding:0;
}

.allergen-icon{
    height: 2.4rem;
    width: 2.4rem;
    margin: 1.28rem;
}

@media only screen and (max-width: 800px)  {
    .allergen-icon {
        height:1.2rem;
        width:1.2rem;
        margin:0;
    }
}

.test{
}

