.nav-bar{
    background-color: white;
}

img    {
    width:1.5em;
    height:1.5em;
    align-items:center;
  }

.navfont{
    font-family:PermanentMarker-Regular;
    color:  #EECA60!important;
    font-size: 35px;
    display:inline;
    margin: 0 0 0 15px;
}

.dropdown{
    border: 1px solid;
    border-color:#EECA60;
    border-radius: 10px;
    color:#68869A;
}

.menu-item{
    color: #68869A;
    background-color:white;
}

.menu-item:hover{
    background-color: white;
    color:#EECA60;
}

