.navBar{
    background-color:white;
    height: 60px;
    padding-top:15px;
    padding-left:0px;
    z-index:9999;
}

.navFont{
    font-family:PermanentMarker-Regular;
    color:  #EECA60!important;
    font-size: 35px;
    display:inline;
}

img{
    width:1.5em;
    height:1.5em;
    align-items:center;
}

.dropdown{
    border: 1px solid;
    border-color:#EECA60;
    border-radius: 5px;
    color:#68869A;
    margin-right: 80px;
}

#dropdownTitle{
    color: #68869A;
}

.menuItem{
    color: #68869A;
    background-color:white;
}

.menuItem:hover{
    background-color: white;
    color:#EECA60;
}


