.dropdownmenu {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin: 0;
    padding:0;
}


#dropdown-basic-button{
    border-color: #eeca60;
    background-color: white;
    color:#68869A;
}
