.menu-card{
    width: 500px;
    cursor: pointer;
    border: 3px solid #EECA60;
    border-radius: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}

.allergy{
    opacity:0.2;
}

.menu-card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }

.card-image{
    max-height: 94px;
  width: 150px;/* added line*/
    border-radius: 20px;
    object-fit: contain;/* added line*/
}

.card-title{
    font-family:NewTegomin-Regular ;
    font-size: 1.5rem;
}

.card-text{ 
    font-size: 1rem;
    font-family: PTSans-Regular;   
}

.card-text:hover{ 
    font-size: 1rem;
    font-family: PTSans-Regular;  
    color:#EECA60; 
}

.card-footer{
    background-color: white;
}

.allergen-img{
    height:2.3rem;
    width: 2.3rem;
    object-fit: contain;
}

.allergy{
    opacity:0.2;
}

@media only screen and (max-width: 500px)  {

    .card-title{
        text-align:start;
        font-family:NewTegomin-Regular ;
        font-size: 1.2rem;
    }

    .card-text{ 
        font-size: 0.8rem;
        padding: 0rem;
        font-family: PTSans-Regular;
        padding-left:5px;
    }
}





/**
@media only screen and (max-width: 800px)  {
    .card-title{
        text-align:start;
        font-family:NewTegomin-Regular ;
        font-size: 1.2rem;
        margin-bottom:3px;
        padding-left: 8px;
    }
    .card-text{ 
        font-size: 0.9rem;
        padding: 0rem;
        font-family: PTSans-Regular;
    }
  
    
    .card-image{
        height: 5rem;
        width: 5rem;
        border-radius: 20px;
        object-fit: cover;
    }
}

.menu-card{
    height: 12rem;
    margin: 1.50rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid #EECA60;
    border-radius: 20px;
 
}

.card-body{
    margin :10px;
    padding : 0;
}

.card-image{
    max-width: 7rem;
    max-height: 5rem;
    border-radius :20px;
    object-fit: cover;
}



**/