
  #nav li {
    float: left;
    border-bottom: 2px solid #68869A;
    display: block;
  }
  #nav li a {
        padding: 0px 20px;
        color: #68869A;
        border-right: 1px  #68869A;
}
  
  
  
  
  
  
  