.app {
  display:block;
  align-items: center;
  justify-content: space-around;
}

#dropdown-basic-button{
  background-color:white;
  border-radius : 2px;
  border-color: #eeca60;;
  color: black;
 float: right ;
}

