
.container {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin: 0;
    padding:0;
}

img    {
    width:3em;
    height:3em;
    align-items:center;
  }

.title{
    font-family:PermanentMarker-Regular;
    color:  #EECA60;
    font-size: 35px;
    display:inline;
    margin: 0 0 0 15px;
}

